html, body, wrapper{
    background-image: url("assets/background.jpg");
    margin: 0px;
    padding: 0px;
    background-size: 700px;
}

footer{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px;
}

#nav{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#recipe{
    background-image: url("assets/napkin.png");
    width: 300px;
    margin: 0 auto;
    box-shadow: 0px 2px 5px #333;
    position: relative;
}

#dark:hover > #overlay{
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#333;
    opacity:0.5;
    z-index: 100;
    display: block;
}

#placeholder{
    height: 300px;
    width: 300px;
    position: relative;
}

#search{
    display: block;
    float: right;
}

a:link {
    text-decoration: none;
}

#textbox{
    margin: 0px 0px 0px 10px;
}

#title{
    height:85px;
    margin: 0px;
    padding: 0px;
    background-image: url("assets/napkin.png");
    box-shadow: 0px 2px 8px #333;
    
}

#meals{
    width: 100px;
    position: relative;
    text-align: left;
    color: #000;
    padding:10px;
}

#paper{
    width:100px;
    height: 50px;
}

#meal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#prints{
    width: 100px;
    position: relative;
    text-align: right;
    color: #000;
    padding:10px;
}

#paper2{
    width:100px;
    height: 50px;
}

p, ul{
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: Pen, cursive;
    color: #000;
    line-height:0px;
    font-size: 2.5em;
    padding: 10px;
}

h2{
    font-family: Pen, cursive;
    display: block;
    color: #000;
}

ul{
    list-style-type: circle;
}

h3{
    font-family: Pen, cursive;
    color: #000;
    line-height:25px;
    font-size: 1.5rem;
}

h4{
    font-family: Pen, cursive;
    color: #777;
    text-decoration: none;
        padding-bottom: 0px;
        line-height:20px;
        font-size: 1.1rem;
        max-width: 700px;
}

input {
    line-height: 1.75em;
}

#sheet{
    background-image: url("assets/napkin.png");
    background-size: auto;
    width: auto;
    margin: 0px auto;
    text-align: center;
}

h5{
    font-family: Pen, cursive;
    color: #000;
    line-height:0px;
    font-size: 1.8em;
    padding: 10px;
}

#onsheet{
    width: 300px;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    margin: 0px auto;
    text-align: justify;
}

@media screen and (max-width : 400px) {
}

@media screen and (min-width : 400px) {
    
    h4{
        padding-bottom: 20px;
    }
}

@media screen and (min-width : 675px) {
    #sheet{
        background-image: url("assets/sheet.png");
        background-size: 100%;
        width: 675px;
        margin: 0px auto;
        text-align: center;
    }
    h4{
        padding-bottom: 20px;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin: 0 auto;
        padding: 0px;
        max-width: 650px;
      }
  h4{
    padding-bottom: 0px;
}
  
}
@media screen and (min-width : 720px) {
    h5{
        font-family: Pen, cursive;
        color: #000;
        line-height:0px;
        font-size: 2.5em;
        padding: 10px;
    }

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 0 auto;
    padding: 0px;
    max-width: 650px;
  }
}
@media screen and (min-width : 1050px) {
    #sheet{
        background-image: url("assets/sheet_big.png");
        background-size: 100%;
        width: 900px;
        margin: 0px auto;
        text-align: center;
    }
    
    #onsheet{
        width: 585px;
        padding: 20px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin: 0px auto;
        text-align: justify;
        background-color: #fff;
    }
    
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        margin: 0 auto;
        max-width: 1015px;
      }
      
      h4{
        padding-bottom: 0px;
    }
}

@media screen and (min-width : 1550px) {
    #grid {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 75px;
        max-width:1450px;
      }
      h4{
        padding-bottom: 0px;
    }
}